.images-container {
    display: flex;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 60%;
}

.liked-container {
    width: 40%;
    margin-left: 20px;
}

.disliked-container {
    width: 40%;
    margin-left: 20px;
}